<section *ngIf="step1" class="w-50  mx-auto bg-main-light p-3 mt-5 rounded-3 shadow">

    <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
        <label for="email" class="text-black">Email</label>
        <input formControlName="email" id="email" type="email" class="form-control">
        <button class="btn btn-main w-100 my-3">Forget Password</button>
        <p *ngIf="msgUser" class="alert alert-danger small w-75 mx-auto text-center text-white">{{msgUser}}</p>
    </form>

</section>

<section *ngIf="step2" class="w-50 mx-auto bg-main-light p-3  rounded-3 shadow">

    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <label for="resetCode" class="text-black">resetCode</label>
        <input formControlName="resetCode" id="resetCode" type="text" class="form-control">
        <button class="btn btn-main w-100 my-3">reset Code</button>
        <p *ngIf="msgUser" class="alert alert-danger small w-75 mx-auto text-center text-white">{{msgUser}}</p>

    </form>
</section>

<section *ngIf="step3" class="w-50 mx-auto bg-main-light p-3  rounded-3 shadow">

    <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
        <label for="newPassword" class="text-black">New Password</label>
        <input formControlName="newPassword" id="newPassword" type="password" class="form-control">
      
        <button class="btn btn-main w-100 my-3">New Password</button>

        <p *ngIf="msgUser" class="alert alert-danger small w-75 mx-auto text-center text-white">{{msgUser}}</p>

    </form>
</section>