<section class="shadow rounded-4 bg-main-light p-4 my-4 w-75 mx-auto">
    <h1 class="text-black text-center py-2">Login Now</h1>
    <form [formGroup]="loginForm" (ngSubmit)="handleForm()" class="w-100 px-3 mx-auto">

        <div class="form-item">
            <label for="email" class="text-black">email</label>
            <input id="email" type="email" placeholder="email" formControlName="email" class="form-control mb-3">
            <div *ngIf="loginForm.get('email')?.errors &&loginForm.get('email')?.touched"
                class="alert alert-danger w-50 small p-1  mx-auto">
                <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0"> Email is Required</p>
                <p *ngIf="loginForm.get('email')?.getError('email')" class="m-0">Email Is Invailed</p>
            </div>
        </div>
        <div class="form-item">
            <label for="password" class="text-black">password</label>
            <input id="password" type="password" placeholder="password" formControlName="password"
                class="form-control mb-3">
            <div *ngIf="loginForm.get('password')?.errors &&loginForm.get('password')?.touched"
                class="alert alert-danger w-50 small p-1  mx-auto">
                <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0"> Password is Required</p>
                <p *ngIf="loginForm.get('password')?.getError('pattern')" class="m-0">Password Must be At least 6
                    charcters</p>
            </div>
        </div>
      <div class="d-flex justify-content-between align-items-center justify-content-center">

          <button  [disabled]="loginForm.invalid" class="btn-main px-4"> Login <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i></span></button>
          <a routerLink="/forgetpass" class="link-primary small">Forget Password</a>
      </div>
        <div *ngIf="errormsg" class="alert alert-danger w-50 small p-1  mx-auto">
            <h3 class="h6 text-center">{{errormsg}}</h3>
        </div>
    </form>
</section>