/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
// 0aad0a
$main-color: #ed2d2d;
$light-color: #f0f3f2;
$shadow: rgba(145, 158, 171, 0.2)0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14)0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12)0px 1px 10px 0px;
$nav-shadow:0 0.5rem 1rem rgb(255 253 253 / 28%);
$font-family: "Encode Sans Expanded", sans-serif;
$rating-color: #ffc908;
$rating-transparent:rgba(255, 255, 255, 0) ;

$main-transition: .5s;



::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: $light-color
}

::-webkit-scrollbar-thumb {
    background-color: $main-color;
}


body {
    font-family: $font-family;

}


.text-main {
    color: $main-color;
}

.text-main-light {
    color: $light-color;
}

.bg-main-light {
    background-color: $light-color;
}

.bg-main {
    background-color: $main-color;
}

.rating-color {
    color: $rating-color;
}
.rating-transparent{
    color:$rating-transparent;
}

.font-sm {
    font-size: 12px;
}

.btn-main {
    background-color: $main-color;
    color: $light-color;
    border-radius: 5px;
    border: unset;
    cursor: pointer;
    padding: 4px 8px;

    &:disabled {
        background-color: $main-color;
        color: #ffffff9c;
        cursor: not-allowed;
    }

    &:hover {
        background-color: $main-color;
    }
}


.product {
    border: 1px solid $main-color;
    border-radius: 5px;
    padding: 4px;
    box-shadow: $shadow;
    transition: $main-transition ;

&:hover{
    .heart{
        right: 5px;
        transition: all $main-transition;

    }
}


}

.heart{
    right: -35px;
    top: 5px;
    font-size: 30px;
    z-index: 100;
}

.active-link {
    color: white !important;
    background-color: $main-color !important;
    border-radius: 5px !important;
}




.product {

    &:hover {
        .btn-main { opacity: 1;
        transform: translateY(0%);
    }
        scale: (1.02);

    }

    .btn-main {
        opacity: 0;
        transition: $main-transition all;
        transform: translateY(100%);
    }

}

.pointer{
    cursor:pointer;
}

.dropdown-item:active{
    background-color: $main-color;
}

.nav-shadow{
    box-shadow: $nav-shadow !important;
}

.form-control:focus{box-shadow: $shadow;}

.ngx-pagination a{
color: $light-color !important;
&:hover{
    background-color: transparent !important;
}
}
.ngx-pagination .current{
    background-color: transparent !important;
    color: $main-color !important;
}