<nav class="navbar navbar-expand-lg bg-body-tertiary nav-shadow">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img src="./assets/images/pngegg (1).png" width="30" [height]="30"
        alt="freshcart-logo"> Red Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item d-flex align-items-center gap-3 me-4">
            <a href="https://www.facebook.com/" class="text-light"> <i class="fa-brands fas fa-facebook fa-lg"></i></a>
  
            <a href="https://www.instagram.com/?hl=ar" class="text-light"> <i
                class="fa-brands fas fa-instagram fa-lg"></i>
            </a>
            <a href="https://www.tiktok.com/ar/" class="text-light"> <i class="fa-brands fas fa-tiktok fa-lg"></i>
            </a>
            <a href="https://twitter.com/?lang=ar" class="text-light"> <i class="fa-brands fas fa-twitter fa-lg"></i>
            </a>
            <a href="https://www.youtube.com/" class="text-light"> <i class="fa-brands fas fa-youtube fa-lg"></i>
            </a>
  
  
  
  
          </li>
  
          <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active-link" routerLink="/login">login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active-link" routerLink="/register">register</a>
              </li>
        
        </ul>
      </div>
    </div>
  </nav>